APP_ENV=local
PORT=3001
FRONTEND_ORIGIN=http://localhost:3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=avia
DB_PASSWORD=avia
DB_NAME=avia_agro
DB_SSL=false

TYPEORM_SYNCHRONIZE=true
MONOBANK_API_BASE_URL=https://api.monobank.ua
MONOBANK_TOKEN=
IDEMPOTENCY_TTL_HOURS=72
